<link href="/css/login.css" rel="stylesheet" />
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

<link href="/css/bootstrap-social.css" rel="stylesheet" />
<body>
  <div class="container-fluid p-0 m-0 ">
    <div class="row h-100 p-0 m-0">
      <div class="col p-0 m-0 d-none d-xl-block">
        <img
          class="img-fluid h-100 .d-none .d-md-none "
          src="/images/sunset.jpg"
        />
      </div>
      <div class="col pt-5 mt-5">
        <div class="form pl-5 mw-75 pr-5">
          <p class="display-3">Passport Template</p>
          <form method="POST" action="/login">
            <div class="form-group">
              <label for="Email">Email address</label>
              <input
                name="username"
                type="email"
                class="form-control w-75"
                id="Email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group mb-3">
              <label for="Password">Password</label>
              <input
                name="password"
                type="password"
                class="form-control w-75"
                id="Password"
                placeholder="Password"
              />
            </div>
            <button type="submit" class=" btn btn-dark">
              Login
            </button>
            <button type="submit" class="btn btn-secondary">
              Forgot My Password
            </button>
          </form>
          <div class="w-50 mt-4">
            <a
              class="pr-5 mr-3 btn btn-social-icon btn-twitter"
              href="/auth/Twitter"
            >
              <span class="fab fa-twitter"></span>
            </a>
            <a
              class="pr-5 mr-3 btn btn-social-icon btn-facebook"
              href="/auth/facebook"
            >
              <span class="fab fa-facebook"></span>
            </a>
            <a
              class="pr-5 mr-3 btn btn-social-icon btn-Google"
              href="/auth/google"
            >
              <span class="fab fa-Google"></span>
            </a>
            <a
              class="pr-5 btn btn-social-icon btn-linkedin"
              href="/auth/linkedin"
            >
              <span class="fab fa-linkedin"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
