a {
  color: #fff;
  margin-right: 20px;
}
a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}
.text-muted {
  color: #fff;
}

.container-fluid {
  padding-top: 15px;
}
